.page-footer  {
  width: 100%;
  background: $cloud-burst;
  display: flex;
  justify-content: center;
}

.page-footer__wrapper {
  width: 100%;
  max-width: 1280px;
  background: $big-stone;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $san-juan;
}

.footer-top__image {
  margin: 44px 0 12px 0;
}

.footer-top__text {
  margin-bottom: 40px;
  font-family: $raleway-regular;
  font-size: 21px;
  color: $white;
  text-align: center;
}


                              /*   footer-bottom   */

.footer-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-bottom__info {
  margin: 17px 0 21px 0;
  padding-left: 123px;
  display: flex;
  justify-content: center;

  @include mq(950px, max) {
    padding-left: 0;
  }

  @include mq(850px, max) {
    width: 90%;
    padding-left: 0;
  }

  @include mq(766px, max) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-bottom__info-address {
  font-family: $raleway-regular;
  font-size: 14px;
  line-height: 1.7;
  color: $santas-gray;

  @include mq(766px, max) {
    text-align: center;
  }
}

.footer-bottom__info-title {
  font-family: $raleway-regular;
  font-size: 14px;
  line-height: 1.7;
  color: $white;
}

.footer-bottom__info-contacts {
  margin: 0 72px 0 76px;
  font-family: $raleway-regular;
  font-size: 14px;
  line-height: 1.7;
  color: $santas-gray;

  @include mq(950px, max) {
    margin: 0 32px 0 36px;
  }

  @include mq(766px, max) {
    margin: 21px 0 0 0;
    text-align: center;
  }
}

.footer-bottom__info-contact {
  font-family: $raleway-regular;
  font-size: 14px;
  line-height: 1.7;
  color: $santas-gray;
  text-decoration: none;

  &:hover {
    animation: header-nav 0.4s linear 0s infinite  alternate;
  }

  @keyframes header-nav
  {
    0% {box-shadow: 0 0 20px rgba(255, 255, 255,.6);}
    100% {box-shadow: 0 0 20px rgba(0, 0, 0,.2);  background: $gallery;}
  }
}

.footer-bottom__info-contact--email {
  font-family: $raleway-regular;
  font-size: 14px;
  line-height: 1.7;
  color: $white;
  text-decoration: none;

  &:hover {
    animation: header-nav 0.5s linear 0s infinite  alternate;
  }

  @keyframes header-nav
  {
    0% {text-shadow: 0 0 20px rgba(255, 255, 255,.8);}
    100% {text-shadow: 0 0 20px rgba(0, 0, 0,.5);}
  }
}

.footer-bottom__info-secretariat {
  font-family: $raleway-regular;
  font-size: 14px;
  line-height: 1.7;
  color: $santas-gray;

  @include mq(766px, max) {
    margin: 21px 0 0 0;
    text-align: center;
  }
}

.footer-bottom__copyright {
  margin: 20px 0 44px 0;
  font-family: $raleway-regular;
  font-size: 12px;
  line-height: 2;
  color: $santas-gray;
}



