.page-header {
  width: 100%;
  background: $cloud-burst;
  display: flex;
  justify-content: center;
}

.page-header__wrapper {
  width: 100%;
  max-width: 1280px;
  background: $white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $mercury;

  @include mq(640px, max) {
    flex-direction: column;
  }
}

.header-top__logo {
  margin: 33px 0 38px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(1100px, max) {
    margin: 30px 0 34px 0;
  }

  @include mq(900px, max) {
    margin: 24px 0 28px 0;
  }

  @include mq(800px, max) {
    margin: 22px 0 25px 0;
  }

  @include mq(640px, max) {
    margin: 17px 0 20px 0;
  }

  @include mq(480px, max) {
    margin: 13px 0 15px 0;
  }
}

.header-top__logo-image {
  margin: 0 34px 0 49px;

  @include mq(1100px, max) {
    width: 165px;
    height: 112px;
    margin: 0 31px 0 44px;
  }

  @include mq(900px, max) {
    width: 135px;
    height: 92px;
    margin: 0 25px 0 36px;
  }

  @include mq(800px, max) {
    width: 120px;
    height: 81px;
    margin: 0 22px 0 32px;
  }

  @include mq(640px, max) {
    width: 96px;
    height: 65px;
    margin: 0;
  }

  @include mq(480px, max) {
    width: 72px;
    height: 49px;
  }
}

.header-top__logo-text {
  font-family: $raleway-light;
  font-size: 47px;
  color: $cloud-burst;

  @include mq(1100px, max) {
    font-size: 42px;
  }

  @include mq(900px, max) {
    font-size: 35px;
  }

  @include mq(800px, max) {
    font-size: 31px;
  }

  @include mq(640px, max) {
    font-size: 25px;
  }

  @include mq(480px, max) {
    font-size: 19px;
  }
}

.header-top__login {
  width: 128px;
  height: 43px;
  margin-right: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $raleway-regular;
  font-size: 16px;
  color: $white;
  text-decoration: none;
  background: $cloud-burst;

  @include mq(1100px, max) {
    width: 115px;
    height: 39px;
    margin-right: 66px;
    font-size: 14px;
  }

  @include mq(900px, max) {
    width: 94px;
    height: 32px;
    margin-right: 54px;
    font-size: 12px;
  }

  @include mq(800px, max) {
    width: 84px;
    height: 28px;
    margin-right: 48px;
    font-size: 11px;
  }

  @include mq(640px, max) {
    width: 94px;
    height: 32px;
    margin: 0 0 25px 0;
    font-size: 14px;
  }

  @include mq(480px, max) {
    width: 84px;
    height: 28px;
    font-size: 12px;
  }

  &:hover {
    animation: login 0.5s linear 0s infinite  alternate;
  }

  @keyframes login
  {
    0% {box-shadow: 0 0 20px rgba(255, 255, 255,.7);  background: $cloud-burst}
    100% {box-shadow: 0 0 20px rgba(0, 0, 0,.3);  background: $denim}
  }
}


                              /*   header-bottom   */

.header-bottom {

  @include mq(640px, max) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.header-bottom__navigation {
  display: flex;
  margin-left: 42px;

  @include mq(640px, max) {
    width: 350px;
    flex-direction: column;
    align-items: center;
    margin: 5px 0 5px 0;
  }
}

.header-bottom__navigation-link {
  display: block;
  margin: 12px 14px 12px 14px;
  padding: 13px;
  font-family: $raleway-regular;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: $cloud-burst;

  @include mq(1100px, max) {
    margin: 11px 13px 11px 13px;
    padding: 12px;
    font-size: 14px;
  }

  @include mq(900px, max) {
    margin: 9px 10px 9px 10px;
    padding: 10px;
    font-size: 12px;
  }

  @include mq(800px, max) {
    margin: 8px 9px 8px 9px;
    padding: 9px;
    font-size: 11px;
  }

  @include mq(640px, max) {
    margin: 5px 0 5px 0;
    padding: 5px;
    font-size: 14px;
  }

  &:hover {
    animation: header-nav 0.4s linear 0s infinite  alternate;
  }

  @keyframes header-nav
  {
    0% {box-shadow: 0 0 20px rgba(255, 255, 255,.6);}
    100% {box-shadow: 0 0 20px rgba(0, 0, 0,.2);  background: $gallery;}
  }
}











