.page-main  {
  width: 100%;
  background: $cloud-burst;
  display: flex;
  justify-content: center;
}

.page-main__wrapper {
  width: 100%;
  max-width: 1280px;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main__image {
  width: 100%;
  height: 400px;
  background: url("../img/gallery__1.png") no-repeat center;
  background-size: cover;

  @include mq(1100px, max) {
    height: 360px;
  }

  @include mq(900px, max) {
    height: 295px;
  }

  @include mq(800px, max) {
    height: 263px;
  }

  @include mq(640px, max) {
    height: 210px;
  }

  @include mq(480px, max) {
    height: 158px;
  }
}

.page-main__content {
  width: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(1100px, max) {
    width: 846px;
  }

  @include mq(900px, max) {
    width: 694px;
  }

  @include mq(800px, max) {
    width: 617px;
  }

  @include mq(640px, max) {
    width: 90%;
  }
}

.page-main__content-title {
  margin: 51px 0 47px 0;
  font-family: $raleway-light;
  font-size: 40px;
  color: $tundora;

  @include mq(1100px, max) {
    margin: 46px 0 42px 0;
    font-size: 36px;
  }

  @include mq(900px, max) {
    margin: 38px 0 35px 0;
    font-size: 30px;
  }

  @include mq(800px, max) {
    margin: 33px 0 31px 0;
    font-size: 26px;
  }

  @include mq(640px, max) {
    margin: 27px 0 25px 0;
    font-size: 21px;
  }

  @include mq(480px, max) {
    margin: 20px 0 19px 0;
  }
}

.page-main__content-text {
  margin-bottom: 84px;
  font-family: $raleway-regular;
  font-size: 16px;
  line-height: 1.5;
  color: $tundora;
  text-align: center;
  letter-spacing: 0.7px;

  @include mq(1100px, max) {
    margin-bottom: 76px;
    font-size: 14px;
    line-height: 1.4;
  }

  @include mq(900px, max) {
    margin-bottom: 62px;
    font-size: 12px;
    line-height: 1.3;
  }

  @include mq(800px, max) {
    margin-bottom: 55px;
    font-size: 11px;
    line-height: 1.2;
  }

  @include mq(640px, max) {
    margin-bottom: 44px;
  }

  @include mq(480px, max) {
    margin-bottom: 33px;
  }
}


                              /*   page-main__gallery   */

.page-main__gallery {
  width: 100%;
  background: $gallery;
  display: flex;
  justify-content: center;

  @include mq(741px, max) {
    flex-direction: column;
    align-items: center;
    padding: 121px 0 78px 0;
  }

  @include mq(450px, max) {
    padding: 70px 0 70px 0;
  }

  @include mq(380px, max) {
    padding: 50px 0 50px 0;
  }
}

.page-main__gallery-items {
  margin: 121px 15px 78px 15px;

  @include mq(1130px, max) {
    margin: 121px 10px 78px 10px;
  }

  @include mq(741px, max) {
    margin: 0;
  }
}

.page-main__gallery-item {
  width: 337px;
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;

  @include mq(1130px, max) {
    width: 303px;
    margin-bottom: 30px;
  }

  @include mq(1017px, max) {
    width: 272px;
    margin-bottom: 27px;
  }

  @include mq(915px, max) {
    width: 245px;
    margin-bottom: 24px;
  }

  @include mq(823px, max) {
    width: 221px;
    margin-bottom: 22px;
  }

  @include mq(741px, max) {
    width: 337px;
    margin-bottom: 34px;
  }

  @include mq(450px, max) {
    width: 303px;
    margin-bottom: 30px;
  }

  @include mq(380px, max) {
    width: 272px;
    margin-bottom: 27px;
  }
}

.page-main__gallery-item--image {

  @include mq(1130px, max) {
    width: 303px;
  }

  @include mq(1017px, max) {
    width: 272px;
  }

  @include mq(915px, max) {
    width: 245px;
  }

  @include mq(823px, max) {
    width: 221px;
  }

  @include mq(741px, max) {
    width: 337px;
  }

  @include mq(450px, max) {
    width: 303px;
  }

  @include mq(380px, max) {
    width: 272px;
  }
}

.page-main__gallery-item--title {
  width: 300px;
  margin: 32px 0 17px 0;
  font-family: $raleway-light;
  font-size: 24px;
  color: $tundora;

  @include mq(1130px, max) {
    width: 270px;
    margin: 28px 0 15px 0;
    font-size: 21px;
  }

  @include mq(1017px, max) {
    width: 243px;
    margin: 25px 0 13px 0;
    font-size: 19px;
  }

  @include mq(915px, max) {
    width: 218px;
    margin: 23px 0 12px 0;
    font-size: 17px;
  }

  @include mq(823px, max) {
    width: 196px;
    margin: 21px 0 11px 0;
    font-size: 15px;
  }

  @include mq(741px, max) {
    width: 300px;
    margin: 32px 0 17px 0;
    font-size: 24px;
  }

  @include mq(450px, max) {
    width: 270px;
    margin: 28px 0 15px 0;
    font-size: 21px;
  }

  @include mq(380px, max) {
    width: 243px;
    margin: 25px 0 13px 0;
    font-size: 19px;
  }
}

.tag {
  margin: 13px 0 17px 0;

  @include mq(1130px, max) {
    margin: 12px 0 15px 0;
  }

  @include mq(1017px, max) {
    margin: 11px 0 14px 0;
  }

  @include mq(915px, max) {
    margin: 10px 0 12px 0;
  }

  @include mq(823px, max) {
    margin: 9px 0 11px 0;
  }

  @include mq(741px, max) {
    margin: 13px 0 17px 0;
  }

  @include mq(667px, max) {
    margin: 12px 0 15px 0;
  }

  @include mq(380px, max) {
    margin: 11px 0 14px 0;
  }
}

.page-main__gallery-item--text {
  width: 300px;
  margin-bottom: 32px;
  font-family: $raleway-regular;
  font-size: 14px;
  line-height: 2.15;
  color: $tundora;

  @include mq(1130px, max) {
    width: 270px;
    margin-bottom: 29px;
    font-size: 13px;
    line-height: 1.75;
  }

  @include mq(1017px, max) {
    width: 243px;
    margin-bottom: 26px;
    font-size: 12px;
    line-height: 1.57;
  }

  @include mq(915px, max) {
    width: 218px;
    margin-bottom: 23px;
    font-size: 11px;
    line-height: 1.41;
  }

  @include mq(823px, max) {
    width: 196px;
    margin-bottom: 21px;
    font-size: 10px;
    line-height: 1.27;
  }

  @include mq(741px, max) {
    width: 300px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 2.15;
  }

  @include mq(667px, max) {
    width: 270px;
    margin-bottom: 29px;
    font-size: 13px;
    line-height: 1.75;
  }

  @include mq(380px, max) {
    width: 243px;
    margin-bottom: 26px;
    font-size: 12px;
    line-height: 1.57;
  }
}





































