$white: #ffffff;
$black: #000000;
$cloud-burst: #202f57;
$mercury: #e5e5e5;
$picton-blue: #59b6e8;
$tundora: #454545;
$gallery: #ececec;
$big-stone: #152243;
$san-juan: #34446f;
$santas-gray: #9da2b0;
$denim: #0d44d6;
