
@font-face {
  font-family: 'raleway-regular';
  src: url('../fonts/raleway-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway-regular.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/raleway-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/raleway-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'raleway-light';
  src: url('../fonts/raleway-light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway-light.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/raleway-light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/raleway-light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
